@charset 'UTF-8';

/* Color Palett */
/* black */
$black: #222; /* #000 사용안함 2018-04-11 ock */ /* $black-two 사용안함 #222로 합침 */
$brownish_grey: #666;
$warm_grey: #999;
$pinkish_grey: #c8c8c8;

/* white */
$white_two: #e0e0e0; /* 습관저금 박스라인 */
$white_three: #eee;
$white_four: #f8f8f8;
$white: #fff;

/* purple */
$purply_blue: #731aed;
$purply_blue_two: #731aed;
$purply_blue_three: #6516d0;
$violet_blue: #5008b2;
$lavender: #aa96f2;
$pale_lavender: #f5eeff; /* 습관저금 버튼 활성화 백그라운드 */
$pale_lavender_two: #eaddfd;
$lighter_purple: #8848ff;
$purpley: #8a6fea;
$light_periwinkle: #dbd2fc;
$bluish_purple: #7a3cee;
$lavender_two: #ccc2f3;
$light_violet: #dac5fc;

/* etc color */
$clear_blue: #278df5;
$sun_yellow: #ffdb15;
$seafoam_blue:#66d9d4;
$reddish_orange: #f74b20;
$green_blue: #00b389;
$pumpkin: #f07400;
$dark_sky_blue: #4a90e2;



/* Size Variables */
$line-height:1.3em;
$font-head: 26px;

/* width Variables */
$min-width:320px;

/* test */
$title-font: normal 24px/1.5 'Open Sans', sans-serif;
$base-font: "DeviceF", "AppleSDGothicNeo-Medium", "Dotum", "Dotumche", "돋움", "돋움체", "Arial",  sans-serif;
$cool-red: #F44336;
$box-shadow-bottom-only: 0 2px 1px 0 rgba(0, 0, 0, 0.2);

/*clearfix */
.clearfix { }
.clearfix:after {content:' '; display:block; clear:both; height:0; line-height:0; visibility:hidden;}

@mixin font($size:14px) {
	@if $size == 11px {
		font-size:11px;
		line-height:14px;
	} @else if $size == 12px {
		font-size:12px;
		line-height:14px;
	} @else if $size == 14px {
		font-size:14px;
		line-height:18px;
	} @else if $size == 16px {
		font-size:16px;
		line-height:20px;
	} @else if $size == 18px {
		font-size:18px;
		line-height:22px;
	} @else if $size == 20px {
		font-size:20px;
		line-height:24px;
	} @else if $size == 24px {
		font-size:24px;
		line-height:28px;
	} @else if $size == 26px {
		font-size:26px;
		line-height:30px;
	} @else if $size == 30px {
		font-size:30px;
		line-height:34px;
	} @else if $size == 34px {
		font-size:34px;
		line-height:40px;
	} @else if $size == 40px {
		font-size:40px;
		line-height:40px;
	} @else {
		font-size:14px;
		line-height:18px;
	}
}

