@charset "UTF-8";
.wrap { position:relative; min-width:320px; width:100%; height:100%;min-height:100%;margin:0;padding:0;background:#fff;} 
#contents { position:relative;height:100%;min-height:100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
#contents > section { padding-top:0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;background:#fff;}/*  공통상단여백  */
.wrap.bg_list #contents:after{ content:' '; position:relative;bottom:0;height:45px;background:#fff;z-index:-1;width:100%;display:block;}
.wrap.bg_list #contents.add_sticky:after{height:105px; background:#fff;}
#contents.add_sticky {padding-bottom:60px;}
#contents.add_sticky:after {content:' '; position:relative;bottom:0;height:60px; background:#fff;z-index:-1;width:100%;display:block;}


.sec_account_visual {margin: 0 20px;padding: 42px 0; background: url(../img/bg_visual_high5.png?v=1) no-repeat 100% 128.5px; background-size:270px auto; font-family: 'SpoqaR';}
.sec_account_visual .txt { font-family: inherit; font-size: 34px;line-height: 40px;}
.sec_account_visual .txt em{color:#ec1840;}
.sec_account_visual .dues {margin-top:272px;border-bottom: 1px solid #e0e0e0; font-size: 14px; line-height: 22px; padding-bottom:15px; margin-bottom: 15px;font-family: 'SpoqaB';font-weight: bold;}
.dis_table {display: table; width: 100%;}
.dis_cell {display: table-cell;}
.sec_account_visual .dis_cell {font-family: 'SpoqaR'; font-size:14px;line-height:18px;width:50%;}
.sec_account_visual .dis_cell span{display:block;color:#666;margin-top:4px;}
.sec_account_saving {font-family: 'SpoqaR';background: #f8f8f8;padding:34px 27px 40px 27px;text-align: center;border-top: 1px solid #e0e0e0;}
.sec_account_saving .tit {font-family: inherit;font-size: 26px;line-height: 30px;letter-spacing: -1px;}
.sec_account_saving .tit em{color: #ec1940;}
.sec_account_saving .present{margin-top:13px;font-family: inherit;font-size: 16px;line-height:20px;color:#666;}
.sec_account_saving .list_benefit {font-family: 'SpoqaR';position:relative; max-width: 320px; width: calc(100%); height:90px;margin: 0 auto;}
.sec_account_saving .list_benefit dl:before {display:inline-block; position:absolute; top:50%; left:0px; margin-top:-45px; width:90px; height:90px; content:""; background-image:url(../img/img_hight5_detail1.png); background-repeat:no-repeat; background-size:100% auto;}
.sec_account_saving .list_benefit:first-of-type {margin-top:37px;}
.sec_account_saving .list_benefit dl {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; box-sizing: border-box;font-family: inherit;text-align: left; padding-left:110px; box-sizing:border-box;}
.sec_account_saving .list_benefit:nth-of-type(1) dl:before {background-position:0 0;}
.sec_account_saving .list_benefit:nth-of-type(2) dl:before {background-position:0 -100px;}
.sec_account_saving .list_benefit:nth-of-type(3) dl:before {background-position:0 -200px;}
.sec_account_saving .list_benefit dt {font-family: inherit;font-size:18px; color:#ec1940;}
.sec_account_saving .list_benefit dt.color_b {color:#278df5;}
.sec_account_saving .list_benefit dt em{letter-spacing:0;}
.sec_account_saving .list_benefit dd {font-family: inherit;margin-top:5px; font-size:16px; color:#666; line-height:20px;word-break:keep-all;}
.sec_account_saving .list_benefit + .list_benefit {margin-top:20px;}

.high5_detail .high5_add_benefit {font-family: 'SpoqaR';text-align:center; padding-bottom:34px;}
.high5_detail .high5_add_benefit .box_lable_wrap {font-family: inherit;margin-top:40px; text-align:center;}
.high5_detail .high5_add_benefit .box_lable_wrap strong {display:inline-block; height:29px; line-height:30px; font-size:16px; padding:0 20px; text-align:center; background:#f8f8f8; font-weight:bold; color:#278df5; border-radius:21px;}
.high5_detail .high5_add_benefit .tit {margin-top:14px;font-family: inherit; font-size:26px; line-height:30px; text-align:center;}
.high5_detail .high5_add_benefit .tit strong,
.high5_detail .high5_add_benefit .cont strong {color:#278df5;}
.high5_detail .high5_add_benefit .tit strong {font-family: 'SpoqaB';font-weight:bold;}
.high5_detail .high5_add_benefit .cont {margin-top:9px;font-family: inherit;font-size:16px;line-height:20px; color:#666; text-align:center;}
.high5_detail .high5_add_benefit .cont em{letter-spacing:0;}
.high5_detail .high5_add_benefit .cont br{display:none;}
.high5_detail .high5_add_benefit .cont.line{line-height:18px;padding: 2px 0;}
.high5_detail .high5_add_benefit .img {margin:27px auto 23px; width:248px; height:135px; text-indent:-999em; background-image:url(../img/img_hight5_detail2.png); background-repeat:no-repeat; background-size:100% auto; overflow:hidden;}
.high5_detail .high5_add_benefit.event1 .img {background-position:0 0;}
.high5_detail .high5_add_benefit.event2 .img {background-position:0 100%;}
.high5_detail .high5_add_benefit.event2 {padding-bottom:37px;border-top:1px solid #eee;}
.high5_detail .high5_add_benefit .thumb_detail_list {padding:0 25px 0 30px;font-family: inherit;}
.high5_detail .high5_add_benefit .thumb_detail_list li {font-family: inherit;margin-top:1px; overflow:hidden;}
.high5_detail .high5_add_benefit .thumb_detail_list li span {display:inline-block;font-size:14px; line-height:23px; color:#666; float:left; margin-top:0; text-align:left;}
.high5_detail .high5_add_benefit .thumb_detail_list li .tit {font-family: 'SpoqaB';font-weight:bold;}
.high5_detail .high5_add_benefit .thumb_detail_list li .cont {word-break:keep-all;}
.high5_detail .high5_add_benefit .thumb_detail_list li .cont.end {color:#c8c8c8;}
.high5_detail .high5_add_benefit.event1 .thumb_detail_list li .tit {width:58px;}
.high5_detail .high5_add_benefit.event1 .thumb_detail_list li .cont {width:calc(100% - 58px);}
.high5_detail .high5_add_benefit.event2 .thumb_detail_list li .tit {width:33px;}
.high5_detail .high5_add_benefit.event2 .thumb_detail_list li .cont {width:calc(100% - 33px);}

.sec_account_info{padding:33px 20px 56px;background:#f8f8f8;}
.sec_account_info .bul_guide .info_type:before {line-height:18px; padding-right:3px;}
.sec_account_info .bul_guide .info_type.indent:first-child{margin-top:0;line-height:22px;}
.sec_account_info .bul_guide .info_type.indent {margin-top:2px;padding-left:16px; text-indent: -16px;font-family: 'SpoqaR';color:#666;}
.sec_account_info .bul_guide .info_type.indent em{letter-spacing:0;}
.sec_account_info .bul_guide .info_type.indent br{display:none;}
.bul_guide .info_type:before{content:'※';vertical-align:inherit; font-family:"Dotum", "Gulim";}

.sticky_wrap { position:fixed;bottom:0;width:100%;height:auto;z-index:50;transform: translateZ(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform: translatez(0);-webkit-transform: translateZ(0);-webkit-font-smoothing: antialiased;}
.sticky_wrap.set_type1 button {width:100%;height:100%;min-height:60px;background:#731aed;color:#fff;font-size: 18px;line-height: 22px;font-weight: bold;}

@media screen and (max-width: 768px){
	.high5_detail .high5_add_benefit .cont br{display:block;}
	.sec_account_info .bul_guide .info_type.indent br{display:block;}
}

@media screen and (max-width: 360px){
	.sec_account_saving .list_benefit dd br{display:none;}
	.high5_detail .high5_add_benefit .cont br{display:block;}
	
}
@media screen and (max-width: 320px){
	.sec_account_saving .list_benefit dd br{display:none;}
	.high5_detail .high5_add_benefit .cont br{display:none;}
	
}