@charset "UTF-8";
.mgt15 {margin-top:15px;}
.mgt20 {margin-top:20px;}
.mgt25 {margin-top:25px;}


.wrap { position:relative; min-width:320px; width:100%; height:100%;min-height:100%;margin:0;padding:0;background:#fff;}
#contents { position:relative;height:100%;min-height:100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
#contents > section { padding-top:0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;background:#fff;}/*  공통상단여백  */
.wrap.bg_list #contents:after{ content:' '; position:relative;bottom:0;height:45px;background:#fff;z-index:-1;width:100%;display:block;}
.wrap.bg_list #contents.add_sticky:after{height:105px; background:#fff;}
#contents.add_sticky {padding-bottom:60px;}
#contents.add_sticky:after {content:' '; position:relative;bottom:0;height:60px; background:#fff;z-index:-1;width:100%;display:block;}


.sec_account_visual {margin:0 30px; padding:23px 0px 28px; background: url(../img/bg_visual_high5.png?v=1) no-repeat 101% 79px; background-size:195px auto;}
.sec_account_visual .txt {font-family:"NotosansB"; font-size:24px;line-height:36px;}
.sec_account_visual .txt em{color:#ec1840;}
.sec_account_visual .dues {margin-top:107px; border-bottom: 1px solid #e0e0e0; font-size:18px; line-height: 22px; padding-bottom:10px; margin-bottom: 15px; font-family: 'NotosansM';}
.dis_table {display: table; width: 100%;}
.dis_cell {display: table-cell;}
.sec_account_visual .dis_cell {font-size:14px;line-height:18px;width:50%; color:#222;}
.sec_account_visual .dis_cell span{display:block;color:#666;margin-top:7px;}
.sec_account_saving {background: #f8f8f8;padding:28px 0px;text-align: center;border-top: 1px solid #e0e0e0;}
.sec_account_saving .tit {font-family: 'NotosansM';font-size:22px;line-height: 30px;letter-spacing: -1px;}
.sec_account_saving .tit em{color: #ec1940;}
.sec_account_saving .present{margin-top:3px;font-family: inherit;font-size: 16px;line-height:20px;color:#666;}
.sec_account_saving .list_benefit {position:relative;}
.sec_account_saving .list_benefit:first-of-type {margin-top:24px;}
.sec_account_saving .list_benefit dl {box-sizing: border-box; box-sizing:border-box; }

/*
.sec_account_saving .list_benefit dl:before {display:inline-block; position:absolute; top:50%; left:0px; margin-top:-45px; width:90px; height:90px; content:""; background-image:url(../img/img_hight5_detail1.png); background-repeat:no-repeat; background-size:100% auto;}
.sec_account_saving .list_benefit:nth-of-type(1) dl:before {background-position:0 0;}
.sec_account_saving .list_benefit:nth-of-type(2) dl:before {background-position:0 -100px;}
.sec_account_saving .list_benefit:nth-of-type(3) dl:before {background-position:0 -200px;}
*/

.sec_account_saving .list_benefit dt {font-family: 'NotosansM';font-size:16px; color:#ec1940;}
.sec_account_saving .list_benefit dt.color_b {color:#278df5;}
.sec_account_saving .list_benefit dt em{letter-spacing:0;}
.sec_account_saving .list_benefit dd {margin-top:5px; font-size:14px; line-height:20px; color:#222; line-height:20px;word-break:keep-all;}
.sec_account_saving .list_benefit + .list_benefit {margin-top:22px;}

.high5_detail .high5_add_benefit {text-align:center; padding-bottom:28px;}
.high5_detail .high5_add_benefit .box_lable_wrap {font-family: inherit;margin-top:40px; text-align:center;}
.high5_detail .high5_add_benefit .box_lable_wrap strong {display:inline-block; height:29px; line-height:30px; font-size:16px; padding:0 20px; text-align:center; background:#f8f8f8; color:#278df5; border-radius:21px;}
.high5_detail .high5_add_benefit .tit {margin-top:23px; font-family: 'NotosansM'; font-size:22px; line-height:33px; text-align:center;}
.high5_detail .high5_add_benefit .tit strong,
.high5_detail .high5_add_benefit .cont strong {color:#278df5;}
.high5_detail .high5_add_benefit .cont {margin-top:9px;font-family: inherit;font-size:16px;line-height:20px; color:#666; text-align:center;}
.high5_detail .high5_add_benefit .cont em{letter-spacing:0;}
.high5_detail .high5_add_benefit .cont.line{line-height:18px;padding: 2px 0;}
.high5_detail .high5_add_benefit .img {margin:27px auto 23px; width:248px; height:135px; text-indent:-999em; background-image:url(../img/img_hight5_detail2.png); background-repeat:no-repeat; background-size:100% auto; overflow:hidden;}
.high5_detail .high5_add_benefit.event1 .img {background-position:0 0;}
.high5_detail .high5_add_benefit.event2 .img {background-position:0 100%;}
.high5_detail .high5_add_benefit.event2 {padding-bottom:37px;border-top:1px solid #eee;}
.high5_detail .high5_add_benefit .thumb_detail_list {margin-top:15px; padding:0 25px 0 30px;font-family: inherit;}
.high5_detail .high5_add_benefit .thumb_detail_list li {font-family: inherit;margin-top:1px; overflow:hidden;}
.high5_detail .high5_add_benefit .thumb_detail_list li span {display:inline-block;font-size:14px; line-height:23px; color:#666; float:left; margin-top:0; text-align:left;}
.high5_detail .high5_add_benefit .thumb_detail_list li .tit {font-family: 'NotosansM';}
.high5_detail .high5_add_benefit .thumb_detail_list li .cont {margin-left:10px; word-break:keep-all; max-width:270px;}
.high5_detail .high5_add_benefit .thumb_detail_list li .cont.end {color:#c8c8c8;}
.high5_detail .high5_add_benefit.event1 .thumb_detail_list li .tit {width:58px;}
.high5_detail .high5_add_benefit.event1 .thumb_detail_list li .cont {width:calc(100% - 58px);}
.high5_detail .high5_add_benefit.event2 .thumb_detail_list li .tit {width:33px;}
.high5_detail .high5_add_benefit.event2 .thumb_detail_list li .cont {width:calc(100% - 33px);}

.add_cashback_info {padding:28px 30px; border-top:1px solid #eee; border-bottom:1px solid #e0e0e0;}
.add_cashback_info .tit {font-size:18px; color:#222; font-family:"NotosansM"; text-align:center; margin-bottom:5px;}
.add_cashback_info ul {}
.add_cashback_info ul li {margin-top:8px; font-size:14px; line-height:20px; color:#666; text-indent: -11px; padding-left:11px; word-break: keep-all;}
.add_cashback_info ul li:first-of-type {margin-top:0;}


.sec_account_info {padding:25px 20px 20px; border-top: 1px solid #e0e0e0;}
.sec_account_info .btn_apply {width:100%; margin-top:28px; border-radius:8px; height:52px; line-height:52px; background-color:#222; font-size:16px; text-align:center; color:#fff;}

.sec_account_info .bul_guide .info_type:before {line-height:18px;}
.sec_account_info .bul_guide .info_type.indent:first-child{margin-top:0;line-height:22px;}
.sec_account_info .bul_guide .info_type.indent {margin-top:6px;padding-left:16px; color:#666;}
.sec_account_info .bul_guide .info_type.indent em{letter-spacing:0;}
.bul_guide .info_type:before{position:absolute; top:2px; left:0; content:'※';vertical-align:inherit;}

.sticky_wrap { position:fixed;bottom:0;width:100%;height:auto;z-index:50;transform: translateZ(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform: translatez(0);-webkit-transform: translateZ(0);-webkit-font-smoothing: antialiased;}
.sticky_wrap.set_type1 button {width:100%;height:100%;min-height:60px;background:#731aed;color:#fff;font-size: 18px;line-height: 22px;font-weight: bold;}

.list_expend_terms, .list_expend {background: #eee; padding: 4px 0;}
.list_expend_terms > li:first-child, .list_expend > li:first-child {margin-top: 0;}
.list_expend_terms > li, .list_expend > li {background: #fff; margin-top: 4px; border-top: 1px solid #e0e0e0;}
.list_expend_terms > li .subject a, .list_expend > li .subject a {position: relative; display: block; font-size: 18px; line-height: 21px; padding: 19px 50px 18px 19px; color:#222; text-decoration:none; font-family:'NotosansM';}
.list_expend_terms > li .subject a i, .list_expend > li .subject a i {position: absolute; top: 50%; right: 0; margin-top: -4px; display: inline-block; background: url(../img/ir-arrow-set.png) no-repeat; background-size: 40px auto; width: 13px; height: 7.67px; background-position: 0 0; margin-right: 20px;}
.list_expend_terms > li .subject.on a i, .list_expend > li .subject.on a i {-webkit-transform: rotateX(180deg); transform: rotateX(180deg);}

.list_expend_terms > li .detail_set, .list_expend > li .detail_set {height: 0; overflow: hidden; border-bottom: 1px solid #e0e0e0;}
.list_expend_terms > li .detail_set .con, .list_expend > li .detail_set .con {padding:27px 20px 30px; border-top: 1px solid #e0e0e0;}

.sec_account_cate .txt {position: relative; font-family:'NotosansM'; font-size:14px; line-height: 20px; margin:15px 0 8px;}
.sec_account_cate .txt:first-child {margin-top: 0;}
.sec_account_cate .txt .tbl_info {position:absolute; font-size:12px; right:0; color:#999; font-family:'NotosansR'}

.sec_account_cate .sub_txt {margin-bottom:8px; font-family:'NotosansM'; color:#666;}

.bul_guide .indent {padding-left:17px; color:#666; font-family:'NotosansR'}
.bul_guide .dash_type.indent {padding-left:8px;}
.bul_guide ul li, ul.bul_guide li {word-break: keep-all;}
.bul_guide ul li {position:relative; margin-top: 10px;}
.bul_guide ul li:first-child {margin-top: 0;}
.bul_guide ul li a {color:#666; text-decoration:none;}
.bul_guide .list_num_cercle li {margin-top:2px;}
.bul_guide .list_num_cercle li:first-of-type {margin-top:3px;}
.bul_guide .add_list {margin-top:24px;}
.list_gray li {position: relative; font-size: 14px; line-height: 20px; color: #666; font-weight: lighter;}
.list_expend_terms > li .subject a, .list_expend > li .subject a {position: relative; display: block; font-size: 18px; line-height: 21px; padding: 19px 50px 18px 19px;}

.sec_account_cate h1:first-child {margin-top: 0;}
.sec_account_cate h1 {font-size:16px; line-height: 22px; margin-top:18px; font-family:"NotosansM";}
.mar_t10 {margin-top: 10px !important;}
.tbl_type1 {border-top: 1px solid #666; border-bottom: 1px solid #c8c8c8;}
table {width: 100%;}
table, th, td {border: 0px; border-spacing: 0px; border-collapse: collapse; word-break: break-all; white-space: normal;}
.tbl_type1 thead th {background: #f8f8f8; font-weight: normal; border-bottom: 1px solid #c8c8c8; text-align: center; padding: 14px 5px 11px; font-size: 14px; line-height: 18px; font-family:"NotosansM"; color:#222;}
.tbl_type1 tbody tr:last-child th, .tbl_type1 tbody tr:last-child td {border-bottom-color: #c8c8c8;}
.tbl_type1 tbody th {border-bottom: 1px solid #eee; text-align:center;}
.tbl_type1 td {padding: 14px 5px 11px; color: #666; text-align: center; letter-spacing: -1px; border-bottom: 1px solid #eee; font-size: 14px; line-height: 18px; font-family:"NotoSansR";}
.bul_guide p:before, .bul_guide li:before, .bul_guide dd:before {display: inline-block; clear: both;     text-indent: 0; line-height: 1;}
[class*='dash_type']:before {position:absolute; top:2px; left:0; content: '-';}
@media screen and (max-width: 320px){
.high5_detail .high5_add_benefit .thumb_detail_list li .cont {max-width:230px;}
}
