@charset 'UTF-8';

/* 전체 con_common_ock 로 옮김 2018-04-11 ock */
/* .benefit_main .sec_history dl{padding:28px 20px}
.benefit_main .sec_history dl dt strong{width:64%;min-height:25px;line-height:20px;vertical-align:middle}
.benefit_main .sec_history dl dt strong + div{width:34%;min-height:25px;line-height:20px;vertical-align:middle;text-align:right}
.benefit_main .sec_history dl dt .cash {font-weight:bold}
.benefit_main .sec_history dl dd {margin-top:0}
.benefit_main .sec_history.wrap_result{background:$white}
.benefit_main .sec_history .no_result {padding-top:10%;} */

